<!DOCTYPE html>
<html>
<head>
  <style type="text/css">
    .template-title {
      text-align: center;
      background-color: #3498db;
      padding: 1rem;
      color: #fff;
    }

      h1{
        font-family: 'Arial', sans-serif;
        font-size: 24px;
      }

    .template-content {
      padding: 1rem;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      line-height: 1.4;
    }
  </style>
</head>
<body>
  <div class="template-title">
    <h1 class="title"><%= @journal_entry.title %></h1>
  </div>
  <div class="template-content">
    <p>
      <%= @journal_entry.content %>
    </p>
  </div>
</body>
</html>
