body{
  background-color: var(--background-color);
  height: 98vh;
  margin: 10px;
}

.main-header {
  display: flex;
  width: 746px;
  height: 952px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex-shrink: 0;
}
