:root {
  --background-color: #e6dafb;
  --primary-color: #9e4c80;
  --secondary-color: #dcccfa;
  --text-color: #020005;
  --card-color: #d88cbc;
}

body {
  background-color: var(--background-color);
  height: 98vh;
  margin: 0px 10px 10px 10px;
}

header {
  height: 5%;
}
