.parent {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 12px;
}

.section1 { grid-area: 1 / 1 / 6 / 6; }
.section2 { grid-area: 1 / 6 / 6 / 25; }
