@import "./colors";
.template-title {
  text-align: center;
  background-color: #3498db;
  padding: 1rem;
  color: #fff;


  h1{
    font-family: 'Arial', sans-serif;
    font-size: 24px;
  }
}

.template-description {
  padding: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  background-color: black;
}
