<div class="s-body">
  <div class="s-item"> <!-- Journals -->
    <div class="item-title">  <!-- title -->
      <div>
        <h1>Journals</h1>
        <!-- Icon -->
      </div>
      <hr style="border-width: 5px">
    </div>
    <div class="item-cards"> <!-- cards -->

    </div>
  </div>
</div>

