<div class="s-body">
  <div class="s-item"> <!-- Tasks -->
    <div class="item-title">  <!-- title -->
      <h2>Tasks</h2>
    </div>
    <hr style="margin:2%;">
    <div class="item-cards"> <!-- cards -->
      <% @user.journals.each do |journal| %>
        <div class="card">
          <a href="<%= user_journal_path(@user, journal) %>" class="card-link">
            <div class="card-content">
              <div class="card-logo">
                <!-- Icon -->
              </div>
              <div class="card-title">
                <%= journal.title %>
              </div>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>
